<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <h1>document table</h1>
    <form action="#" th:action="@{/documents/process}" th:object="${wrapper}" method="post">
        <div class="row">
            <table id="documentTable" class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <div th:with="documents=${wrapper.documentList}">
                    <tr th:each="document, rowStat: ${documents}"
                        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                        <td th:text="${rowStat.index}"></td>
                        <td>
                            <input type="checkbox" th:name="${document.id}" th:field="*{documentList[__${rowStat.index}__].selected}" th:value="${document.selected}"/>
<!--                            <input type="checkbox" th:name="${document.id}" th:field="${documents[__${rowStat.index}__].selected}" />-->
                        </td>
                        <td th:text="${document.id}"></td>
                        <td th:text="${document.title}"></td>
                        <td th:text="${document.amount}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>


        <button name="userAction" value="process">Process</button>
    </form>

</div>